* {
    box-sizing: border-box;
}

header {
    min-height: 60vh;
    background-image: url("../img/verre-a-la-flamme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.d-flex {
    display: flex;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue, .red, .green {
    width: 150px;
    height: 150px;
}

.align {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}